################################### Cluster ###################################
cluster.name: {{ CLUSTER_NAME }}
node.name: {{ inventory_hostname }}
network.host: {{ hostvars[inventory_hostname].private_address }}
discovery.seed_hosts: ["{{ hostvars['elastic01'].private_address }}", "{{ hostvars['elastic02'].private_address }}", "{{ hostvars['elastic03'].private_address }}"]
cluster.initial_master_nodes: ['elastic01', 'elastic02', 'elastic03']

# xpack.security.transport.ssl.enabled: false
# xpack.security.http.ssl.enabled: false
xpack.security.enabled: true

xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12

xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/elastic-certificates.p12
  truststore.path: certs/elastic-certificates.p12
  # client_authentication: required