output {
  if [@metadata][beat] {
    elasticsearch {
      hosts => ["{{ hostvars['elastic01'].private_address }}:9200", "{{ hostvars['elastic02'].private_address }}:9200", "{{ hostvars['elastic03'].private_address }}:9200"]
      index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    }
  }
}